{% extends 'catalog/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <form class="row" method="post" enctype="multipart/form-data">
                <div class="card">
                    <p class="card-text">Действительно хотите удалить {{ object.name }}?</p>
                    {% csrf_token %}
                </div>
                <button type="submit" class="btn btn-primary">
                    Удалить
                </button>
                <a class="btn btn-primary" href="{% url 'myblog:list' %}" role="button">Отмена</a>
            </form>

        </div>
    </div>
</div>
{% endblock %}
