{% extends 'catalog/base.html' %}

{% block content %}
<div class="container">
    <form class="row" method="post" enctype="multipart/form-data">
        <div class="col-4">
            <div class="card">
                <h5 class="card-title">
                    Изменение пароля
                </h5>
                <div class="card-body">
                    {% csrf_token %}
                     <p>Введите ваш Email</p>
                    <input type="email" name="email">
                    <p><p>
                    <button type="submit" class="btn btn-success">
                        Изменить пароль
                    </button>
                    </p>
                    После нажатия кнопки смотрите новый пароль на вашей почте.
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}

